<!doctype html>
<html lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>SOLE MATES</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- CSS here -->
    <link rel="stylesheet" href="/assets_user/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets_user/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/assets_user/css/flaticon.css">
    <link rel="stylesheet" href="/assets_user/css/slicknav.css">
    <link rel="stylesheet" href="/assets_user/css/animate.min.css">
    <link rel="stylesheet" href="/assets_user/css/magnific-popup.css">
    <link rel="stylesheet" href="/assets_user/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="/assets_user/css/themify-icons.css">
    <link rel="stylesheet" href="/assets_user/css/slick.css">
    <link rel="stylesheet" href="/assets_user/css/nice-select.css">
    <link rel="stylesheet" href="/assets_user/css/style.css">
    <style>
        .pagenation {
            margin-left: 800px;
        }
    </style>


</head>

<body>


    {{> user_Header}}
    <main>
        <!-- Hero Area Start-->
        <div class="slider-area ">
            <div class="single-slider slider-height2 d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-cap text-center">
                                {{#if categoryFind}}

                                <h2>{{categoryFind}}</h2>
                                {{else}}
                                <h2>{{cat}}</h2>
                                {{/if}}

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Hero Area End-->
        <!-- Latest Products Start -->
        <section class="popular-items latest-padding">
            <div class="container">
                <div class="row product-btn justify-content-between mb-40">
                    <div class="properties__button">
                        <!--Nav Button  -->
                        <nav>
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                <a class="nav-item nav-link active" href="/allCollection"> All Collection </a>
                                {{#each category}}
                                <a class="nav-item nav-link active" href="/categoryproduct/{{this.category}}">
                                    {{this.category}} </a>
                                {{/each}}
                            </div>

                        </nav>
                    </div>

                    <div>

                    </div>
                    <!-- Grid and List view -->
                    <div class="grid-list-view">
                        <!-- Sidebar -->
                        <div>

                            <div class="sidebar">
                                <h2 style="color: #333; font-size: 18px; margin-bottom: 15px;">Sort by Price</h2>
                                <ul style="list-style: none; padding: 0;">
                                    <li style="margin-bottom: 10px;">
                                        <a href="/lowtohigh?data={{categoryFind}}"
                                            style="display: block; padding: 10px; max-width: 150px; background-color: #f0f0f0; color: #333; text-decoration: none; border-radius: 5px;">Price
                                            Low to High</a>
                                    </li>
                                    <li>
                                        <a href="/hightolow?data={{categoryFind}}"
                                            style="display: block; padding: 10px; max-width: 150px; background-color: #f0f0f0; color: #333; text-decoration: none; border-radius: 5px;">Price
                                            High to Low</a>
                                    </li>
                                </ul>
                            </div>




                        </div>



                    </div>
                    <!-- Select items -->
                    <div class="select-this">

                    </div>

                </div>
                <!-- Nav Card -->
                <div class="tab-content" id="nav-tabContent">
                    <!-- card one -->
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                        <div class="row">

                            {{#each product}}
                            {{#if this.display}}
                            {{else}}
                            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 h-25">
                                <div class="single-popular-items mb-50 text-center">
                                    <div class="popular-img">
                                        <a href="/productdetails/{{this.productname}}"> <img
                                                src="{{this.imagepath.[0]}}" alt="" class="h-50"></a>
                                        <div class="img-cap">
                                            <span><button type="button" style="background-color: #f81f1f; border: none;"
                                                    onclick="addProductToCart('{{this.productname}}')">Add to
                                                    cart</button></span>


                                            {{!-- <button class="add-to-cart" type="button"
                                                onclick="addProductToCart('{{this.productname}}')">
                                                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                            </button> --}}
                                        </div>
 <div class="favorit-items">
    <span>
        <button type="button" style="border: none; background-color: transparent;" onclick="addProductToWishList('{{this.productname}}')">
            <svg class="flaticon-heart" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="32" height="32">
                <path fill="red" stroke="black" stroke-width="2" d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z" class="heart-path"/>
            </svg>
        </button>
    </span>
</div>





                                    </div>
                                    <div class="popular-caption">
                                        <h3><a href="/productdetails/{{this.productname}}">{{this.productname}}</a></h3>
                                        {{!-- <span>{{this.price}}</span> --}}
                                        {{#ifEquals this.offerprice this.price}}
                                        <span style="font-size: 26px;" class="price">Rs.{{this.price}}</span>
                                        {{else}}
                                        <span style="font-size: 26px;" class="price">Rs.{{this.offerprice}}</span>
                                        <span style="margin-left: 15px;"><del style="font-size: 20px;"
                                                id="orginal-price">{{this.price}}</del></span>

                                        {{/ifEquals}}
                                    </div>
                                </div>
                            </div>
                            {{/if}}

                            {{/each}}
                        </div>
                    </div>

                    {{#if pagenationcat}}
                    {{!-- <p>{{pagenationcat}}</p> --}}
                    {{#if lowtohighcat}}
                    <div class="pagenation">
                        <nav aria-label="...">
                            <ul class="pagination">
                                <div class="showing col col-xs-12 mr-10">
                                    <span>SHOWING {{countCurrent}} OF {{countLimit}} </span>
                                </div>

                                {{#if currentPage}}
                                <li class="page-item">
                                    <a class="page-link"
                                        href="/lowtohighcatpagenation?data={{categoryFind}}&page={{currentPage}}&previous=1">Previous</a>
                                </li>
                                {{else}}
                                <li class="page-item">
                                    <a id="previousLink" class="page-link" href="#" onclick="return false;">Previous</a>
                                </li>
                                {{/if}}
                                {{#if hidLimit}}
                                <li class="page-item">
                                    <a id="nextLink" class="page-link" href="#" onclick="return false;">Next</a>
                                </li>
                                {{else}}
                                <li class="page-item">
                                    <a class="page-link"
                                        href="/lowtohighcatpagenation?data={{categoryFind}}&page={{currentPage}}&next=2">Next</a>
                                </li>
                                {{/if}}

                            </ul>
                        </nav>
                    </div>
                    {{/if}}
                    {{#if hightolowcat}}
                    <div class="pagenation">
                        <nav aria-label="...">
                            <ul class="pagination">
                                <div class="showing col col-xs-12 mr-10">
                                    <span>SHOWING {{countCurrent}} OF {{countLimit}} </span>
                                </div>

                                {{#if currentPage}}
                                <li class="page-item">
                                    <a class="page-link"
                                        href="/hightolowcatpagenation?data={{categoryFind}}&page={{currentPage}}&previous=1">Previous</a>
                                </li>
                                {{else}}
                                <li class="page-item">
                                    <a id="previousLink" class="page-link" href="#" onclick="return false;">Previous</a>
                                </li>
                                {{/if}}
                                {{#if hidLimit}}
                                <li class="page-item">
                                    <a id="nextLink" class="page-link" href="#" onclick="return false;">Next</a>
                                </li>
                                {{else}}
                                <li class="page-item">
                                    <a class="page-link"
                                        href="/hightolowcatpagenation?data={{categoryFind}}&page={{currentPage}}&next=2">Next</a>
                                </li>
                                {{/if}}
                            </ul>
                        </nav>
                    </div>
                    {{/if}}
                    {{#if displayProduct}}
                    <div class="pagenation">
                        <nav aria-label="...">
                            <ul class="pagination">
                                <div class="showing col col-xs-12 mr-10">
                                    <span>SHOWING {{countCurrent}} OF {{countLimit}} </span>
                                </div>

                                {{#if currentPage}}
                                <li class="page-item">
                                    <a class="page-link"
                                        href="/categorypagenation?previouscat={{categoryFind}}&page={{currentPage}}">Previous</a>
                                </li>
                                {{else}}
                                <li class="page-item">
                                    <a id="previousLink" class="page-link" href="#" onclick="return false;">Previous</a>
                                </li>
                                {{/if}}
                                {{#if hidLimit}}
                                <li class="page-item">
                                    <a id="nextLink" class="page-link" href="#" onclick="return false;">Next</a>
                                </li>
                                {{else}}
                                <li class="page-item">
                                    <a class="page-link"
                                        href="/categorypagenation?nextcat={{categoryFind}}&page={{currentPage}}">Next</a>
                                </li>
                                {{/if}}
                            </ul>
                        </nav>
                    </div>
                    {{/if}}
                    {{else}}
                    {{#if lowtohigh}}
                    <div class="pagenation">
                        <nav aria-label="...">
                            <ul class="pagination">
                                <div class="showing col col-xs-12 mr-10">
                                    <span>SHOWING {{countCurrent}} OF {{countLimit}} </span>
                                </div>

                                {{#if currentPage}}
                                <li class="page-item">
                                    <a class="page-link"
                                        href="/lowtohighpagenation?previous=2&page={{currentPage}}">Previous</a>
                                </li>
                                {{else}}
                                <li class="page-item">
                                    <a id="previousLink" class="page-link" href="#" onclick="return false;">Previous</a>
                                </li>
                                {{/if}}
                                {{#if hidLimit}}
                                <li class="page-item">
                                    <a id="nextLink" class="page-link" href="#" onclick="return false;">Next</a>
                                </li>
                                {{else}}
                                <li class="page-item">
                                    <a class="page-link"
                                        href="/lowtohighpagenation?next=1&page={{currentPage}}">Next</a>
                                </li>
                                {{/if}}
                            </ul>
                        </nav>
                    </div>
                    {{/if}}
                    {{#if hightolow}}
                    <div class="pagenation">
                        <nav aria-label="...">
                            <ul class="pagination">
                                <div class="showing col col-xs-12 mr-10">
                                    <span>SHOWING {{countCurrent}} OF {{countLimit}} </span>
                                </div>

                                {{#if currentPage}}
                                <li class="page-item">
                                    <a class="page-link"
                                        href="/hightolowpagenation?previous=2&page={{currentPage}}">Previous</a>
                                </li>
                                {{else}}
                                <li class="page-item">
                                    <a id="previousLink" class="page-link" href="#" onclick="return false;">Previous</a>
                                </li>
                                {{/if}}
                                {{#if hidLimit}}
                                <li class="page-item">
                                    <a id="nextLink" class="page-link" href="#" onclick="return false;">Next</a>
                                </li>
                                {{else}}
                                <li class="page-item">
                                    <a class="page-link"
                                        href="/hightolowpagenation?next=1&page={{currentPage}}">Next</a>
                                </li>
                                {{/if}}
                            </ul>
                        </nav>
                    </div>
                    {{/if}}
                    {{#if allcollection}}
                    <div class="pagenation">
                        <nav aria-label="...">
                            <ul class="pagination">
                                <div class="showing col col-xs-12 mr-10">
                                    <span>SHOWING {{countCurrent}} OF {{countLimit}} </span>
                                </div>

                                {{#if currentPage}}
                                <li class="page-item">
                                    <a class="page-link" href="/pagenation?previous=2&page={{currentPage}}">Previous</a>
                                </li>
                                {{else}}
                                <li class="page-item">
                                    <a id="previousLink" class="page-link" href="#" onclick="return false;">Previous</a>
                                </li>
                                {{/if}}
                                {{#if hidLimit}}
                                <li class="page-item">
                                    <a id="nextLink" class="page-link" href="#" onclick="return false;">Next</a>
                                </li>
                                {{else}}
                                <li class="page-item">
                                    <a class="page-link" href="/pagenation?next=1&page={{currentPage}}">Next</a>
                                </li>
                                {{/if}}

                            </ul>
                        </nav>
                    </div>
                    {{/if}}
                    {{/if}}
                </div>
                <!-- End Nav Card -->
            </div>
        </section>
        <!-- Latest Products End -->
        <!--? Shop Method Start-->
        <div class="shop-method-area">
            <div class="container">
                <div class="method-wrapper">
                    <div class="row d-flex justify-content-between">
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="single-method mb-40">
                                <i class="ti-package"></i>
                                <h6>Free Shipping Method</h6>
                                <p>aorem ixpsacdolor sit ameasecur adipisicing elitsf edasd.</p>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="single-method mb-40">
                                <i class="ti-unlock"></i>
                                <h6>Secure Payment System</h6>
                                <p>aorem ixpsacdolor sit ameasecur adipisicing elitsf edasd.</p>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="single-method mb-40">
                                <i class="ti-reload"></i>
                                <h6>Secure Payment System</h6>
                                <p>aorem ixpsacdolor sit ameasecur adipisicing elitsf edasd.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Shop Method End-->
    </main>
    {{> user_Footer}}
    <!--? Search model Begin -->
    <div class="search-model-box">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-btn">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Searching key.....">
            </form>
        </div>
    </div>
    <!-- Search model end -->

    <!-- JS here -->


    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


     <script>
        // Use fetch to update the quantity in the database
        function addProductToWishList(productId) {

            console.log(productId)
            fetch('/addwishlist', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    productId: productId,
                }),
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(data => {

                    if(data.noEntry){
                         window.location.href = '/userLogin';
                    }

                    if (data.valid) {

                        function callFun() {
                            Swal.fire({
                                icon: "success",
                                text: "Product added to WishList",

                            });
                        }
                        callFun()


                    } if(data.presentList) {
                        function callFun() {
                            Swal.fire({
                                icon: "error",
                                title: "Wishlist",
                                text: "Product Already Exist",

                            });
                        }
                        callFun()


                    }
                })
                .catch(error => {
                    console.error('Error updating quantity:', error);
                });

        }

    </script>

    <script>
        // Use fetch to update the quantity in the database
        function addProductToCart(productId) {

            console.log(productId)
            fetch('/addtocart', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    productId: productId,
                }),
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(data => {

                     if(data.noEntryCart){
                         window.location.href = '/userLogin';
                    }

                    if (data.validCart) {

                        function callFun() {
                            Swal.fire({
                                icon: "success",
                                text: "Product added to cart",

                            });
                        }
                        callFun()


                    } if(data.CartPresent) {
                        function callFun() {
                            Swal.fire({
                                icon: "error",
                                title: "Cart",
                                text: "Product Already Exist",

                            });
                        }
                        callFun()


                    }
                })
                .catch(error => {
                    console.error('Error updating quantity:', error);
                });

        }

    </script>




    <script src="./assets_user/js/vendor/modernizr-3.5.0.min.js"></script>
    <!-- Jquery, Popper, Bootstrap -->
    <script src="./assets_user/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="./assets_user/js/popper.min.js"></script>
    <script src="./assets_user/js/bootstrap.min.js"></script>
    <!-- Jquery Mobile Menu -->
    <script src="./assets_user/js/jquery.slicknav.min.js"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script src="./assets_user/js/owl.carousel.min.js"></script>
    <script src="./assets_user/js/slick.min.js"></script>

    <!-- One Page, Animated-HeadLin -->
    <script src="./assets_user/js/wow.min.js"></script>
    <script src="./assets_user/js/animated.headline.js"></script>

    <!-- Scroll up, nice-select, sticky -->
    <script src="./public/assets_user/js/jquery.scrollUp.min.js"></script>
    <script src="./public/assets_user/js/jquery.nice-select.min.js"></script>
    <script src="./public/assets_user/js/jquery.sticky.js"></script>
    <script src="./public/assets_user/js/jquery.magnific-popup.js"></script>

    <!-- contact js -->
    <script src="./public/assets_user/js/contact.js"></script>
    <script src="./public/assets_user/js/jquery.form.js"></script>
    <script src="./public/assets_user/js/jquery.validate.min.js"></script>
    <script src="./public/assets_user/js/mail-script.js"></script>
    <script src="./public/assets_user/js/jquery.ajaxchimp.min.js"></script>

    <!-- Jquery Plugins, main Jquery -->
    <script src="./public/assets_user/js/plugins.js"></script>
    <script src="./public/assets_user/js/main.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</body>

</html>