<!doctype html>
<html lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>SOLE MATES</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- CSS here -->
    <link rel="stylesheet" href="/assets_user/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets_user/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/assets_user/css/flaticon.css">
    <link rel="stylesheet" href="/assets_user/css/slicknav.css">
    <link rel="stylesheet" href="/assets_user/css/animate.min.css">
    <link rel="stylesheet" href="/assets_user/css/magnific-popup.css">
    <link rel="stylesheet" href="/assets_user/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="/assets_user/css/themify-icons.css">
    <link rel="stylesheet" href="/assets_user/css/slick.css">
    <link rel="stylesheet" href="/assets_user/css/nice-select.css">
    <link rel="stylesheet" href="/assets_user/css/style.css">

    <style>
        .card {
            position: relative;
            width: 190px;
            height: 254px;
            background-color: #000;
            display: flex;
            flex-direction: column;
            justify-content: end;
            padding: 12px;
            gap: 12px;
            border-radius: 8px;
            cursor: pointer;
        }

        .card::before {
            content: '';
            position: absolute;
            inset: 0;
            left: -5px;
            margin: auto;
            width: 200px;
            height: 264px;
            border-radius: 10px;
            background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100%);
            z-index: -10;
            pointer-events: none;
            transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        }

        .card::after {
            content: "";
            z-index: -1;
            position: absolute;
            inset: 0;
            background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100%);
            transform: translate3d(0, 0, 0) scale(0.95);
            filter: blur(20px);
        }

        .heading {
            font-size: 20px;
            text-transform: capitalize;
            font-weight: 700;
        }

        .card p:not(.heading) {
            font-size: 14px;
        }

        .card p:last-child {
            color: #e81cff;
            font-weight: 600;
        }

        .card:hover::after {
            filter: blur(30px);
        }

        .card:hover::before {
            transform: rotate(-90deg) scaleX(1.34) scaleY(0.77);
        }

        .order-summary {
            display: flex;
            margin-left: 00px;
        }

        .order-summary {
            margin-left: 850px;
        }

        .cod {
            margin-top: -300px;
        }

        #onlinebutton {
            width: 220px;
            height: 60px;
        }

        .popup {
            width: 400px;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, -50%) scale(0.1);
            background-color: rgb(197, 217, 197);
            align-items: center;
            padding: 0 30px 30px;
            color: #333;
            text-align: center;
            justify-content: center;
            visibility: hidden;
            transition: transform 0.4s, top 0.4s;
        }

        .popupOpen {
            top: 100%;
            transform: translate(-50%, -50%) scale(1);
            visibility: visible;
        }

        .popup button {
            width: 100%;
            margin-top: 50px;
            padding: 10px 0;
            background-color: #6fd649;
            color: #fff;
            outline: none;
            font-size: 18px;
            border-radius: 4px;
            cursor: pointer;
        }

        .applyCoupon {
            visibility: visible;
        }

        .removeCoupon {
            visibility: hidden;
        }

        #couponCode {
            height: 60px;
            width: 140px;
        }

        .coupon-div {
            margin-right: 290px;
        }
        #walletCode{
             height: 60px;
            width: 140px;

        }
    </style>

    {{!--
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script> --}}
</head>

<body>


    {{> user_Header}}
    <main>
        <!-- Hero Area Start-->
        <div class="slider-area ">
            <div class="single-slider slider-height2 d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-cap text-center">
                                <h2>Payment</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Hero Area End-->
        <!-- Latest Products Start -->
        <section class="popular-items latest-padding">
            <div class="container">
                <div class="popup" id="popup">
                    <h3>Coupon Code</h3>
                    <p id="couponmsg"></p>
                    <button type="button" onclick="popupClose()">OK</button>
                </div>
                <div class="container mt-5">
                    <h2 class="mb-4">Shipping Details</h2>
                    <hr>
                    <div style="display: flex;">
                        <div class="mb-4">
                            <h4>Shipping Address:</h4>
                            <p>{{address.housename}}, {{address.city}}, {{address.state}}
                                {{address.pincode}}
                                <br>{{address.country}}
                            </p>
                        </div>
                        <div style="margin-left: 30%;">


                            <div class="input-group coupon-div">
                                <span class="input-group-text">Enter Coupon Code</span>
                                <input type="text" aria-label="First name" class="form-control" name="coupon"
                                    id="couponCode">
                                <button onclick="checkCoupon()" class="btn btn-warning applyCoupon"
                                    id="applyCoupons">Apply</button>
                                <button onclick="removeCoupon()" class="btn btn-warning removeCoupon"
                                    id="removeCoupons">Remove</button>
                                {{!-- <input type="text" aria-label="Last name" class="form-control"> --}}
                                          
                            </div>
                            {{!-- <input type="text" aria-label="Last name" class="form-control"> --}}
                        </div>
                        <div style="margin-top: 10%; margin-left: -610px;">
                        <div class="input-group coupon-div">
                            <span class="input-group-text">Apply For Wallet</span>
                            <input type="text" aria-label="First name" class="form-control" name="coupon" value="{{walletAmount}}"
                                id="walletCode" readonly>
                                {{#if walletAmount}}
                                <button onclick="checkWallet()" class="btn btn-warning applyCoupon"
                                id="applyWallets">Apply</button>
                                {{else}}
                                <button onclick="checkWallet()" class="btn btn-warning applyCoupon" id="applyWallets" disabled>Apply</button>
                                {{/if}}
                          
                            <button onclick="removeWallet()" class="btn btn-warning removeCoupon"
                                id="removeWallets">Remove</button>
                        </div>
                    </div>
                </div>

            </div>
            <h4 style="color: green;">Wallet:<p style="" id="wallet-amount" >{{walletAmount}}</p></h4>

            <br>
            <br>

            <h4>Product Details</h4>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Product Name</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Price</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each cart}}
                    <tr>
                        <td>{{this.productname}}</td>

                        <td>{{this.quantity}}</td>
                        <td>{{this.price}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
            <hr>

            <div class="mt-3">
                <h4 style="color: green;" id="couponInform"></h4>
                <h4 style="margin-left: 70%;">Total : Rs. <p style="font-size: 28px;" id="total-price">
                        {{totalValue}}</p>
                </h4>
                <p style="margin-left: 780px;"><del style="font-size: 26px;" id="orginal-price"></del></p>

                </h4>
                <hr>
                <!-- Payment buttons -->
                <p id="cartotal" hidden>{{userin}}</p>
                <div class="mt-3">
                    <a href="/cod" class="btn btn-primary">COD Payment</a>

                    <button class="btn btn-primary pay">Online
                        Payment</button>
                </div>

            </div>
            </div>

            </div>
        </section>
        <!-- Latest Products End -->
        <!--? Shop Method Start-->
        <div class="shop-method-area">
            <div class="container">
                <div class="method-wrapper">
                    <div class="row d-flex justify-content-between">
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="single-method mb-40">
                                <i class="ti-package"></i>
                                <h6>Free Shipping Method</h6>
                                <p>aorem ixpsacdolor sit ameasecur adipisicing elitsf edasd.</p>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="single-method mb-40">
                                <i class="ti-unlock"></i>
                                <h6>Secure Payment System</h6>
                                <p>aorem ixpsacdolor sit ameasecur adipisicing elitsf edasd.</p>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="single-method mb-40">
                                <i class="ti-reload"></i>
                                <h6>Secure Payment System</h6>
                                <p>aorem ixpsacdolor sit ameasecur adipisicing elitsf edasd.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Shop Method End-->
    </main>
    {{> user_Footer}}
    <!--? Search model Begin -->
    <div class="search-model-box">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-btn">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Searching key.....">
            </form>
        </div>
    </div>
    <!-- Search model end -->

    <!-- JS here -->

    <!--Inside index.html -->
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


    <script>

        // Use fetch to update the quantity in the database
        /*let pop = document.getElementById("popup");
        function popupClose() {
            pop.classList.remove("popupOpen");
            //window.location.reload()
        }*/

        function removeWallet() {
            console.log("hyyy removeWallet");

            
              let total = document.getElementById("orginal-price").innerText
                console.log(total)

            fetch('/removewallet', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    price:total
                }),
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(data => {
                    if (data.success) {
                          console.log("entred into the data succes removewallet")
                        console.log(data.msg)
                        const apply = document.getElementById('applyWallets')
                        const remove = document.getElementById('removeWallets')
                        remove.classList.add('removeCoupon')
                        console.log(apply)
                        apply.classList.remove('removeCoupon')
                        document.getElementById("total-price").innerHTML = `${data.removeWallet}`;           
                         document.getElementById("wallet-amount").innerHTML = `${data.wallet}`;
                        document.getElementById("orginal-price").style.display = "none";
                         document.getElementById("walletCode").value = `${data.wallet}`;
                   
                    } else {
                        // Handle error case if needed
                        //pop.classList.add("popupOpen");
                        console.log(data);
                        console.log("error with data in applyWallet")
                        //document.getElementById("couponmsg").innerHTML = `${data.msg}`;
                        //document.getElementById("orginal-price").innerHTML=`${data.totalValue}`;
                        //document.getElementById("couponInform").innerHTML=`${data.already}`;
                    }
                })
                .catch(error => {
                    console.error('Error checking coupon:', error);
                });
        }

    </script>



  


    <script>

        // Use fetch to update the quantity in the database
        /*let pop = document.getElementById("popup");
        function popupClose() {
            pop.classList.remove("popupOpen");
            //window.location.reload()
        }*/

        function checkWallet() {
            console.log("hyyy checkWallet");

            let walletAmount = document.getElementById("wallet-amount").innerText;
            
            console.log(walletAmount);
              let total = document.getElementById("total-price").innerText
                console.log(total)

            fetch('/applywallet', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    wallet: walletAmount,
                    price:total
                }),
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(data => {
                    if (data.success) {
                        console.log(data)
                        const apply = document.getElementById('applyWallets');
                        const remove = document.getElementById('removeWallets');
                        remove.classList.remove('removeCoupon');
                        apply.classList.add('removeCoupon'); // Assuming this class name should be applied here
                        document.getElementById("orginal-price").style.display = "inline";
                        document.getElementById("total-price").innerHTML = `${data.removeWallet}`;
                        //document.getElementById("couponInform").innerHTML = `${data.inform}`;
                        document.getElementById("orginal-price").innerHTML = `${data.ogamount}`;
                        document.getElementById("wallet-amount").innerHTML = `${data.wallet}`;
                         document.getElementById("walletCode").value = `${data.wallet}`;
                    } else {
                        // Handle error case if needed
                        //pop.classList.add("popupOpen");
                        console.log(data);
                        console.log("error with data in applyWallet")
                        //document.getElementById("couponmsg").innerHTML = `${data.msg}`;
                        //document.getElementById("orginal-price").innerHTML=`${data.totalValue}`;
                        //document.getElementById("couponInform").innerHTML=`${data.already}`;
                    }
                })
                .catch(error => {
                    console.error('Error checking coupon:', error);
                });
        }

    </script>


    

    <script>
        let total = document.getElementById("total-price").innerText
        console.log(total)
        // Use fetch to update the quantity in the database
        function removeCoupon() {
            fetch('/remove-coupon', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    price: total
                }),
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(data => {
                    // const remove = document.getElementById("remove");
                    //  const apply = document.getElementById("apply");

                    if (data.success) {
                        console.log("entred into the popopen")
                        pop.classList.add("popupOpen")
                        console.log(data.msg)
                        const apply = document.getElementById('applyCoupons')
                        const remove = document.getElementById('removeCoupons')
                        remove.classList.add('removeCoupon')
                        console.log(apply)
                        apply.classList.remove('removeCoupon')
                         document.getElementById("couponmsg").innerHTML = `${data.msg}`;
                        document.getElementById("total-price").innerHTML = `${data.removeTotal}`;
                        document.getElementById("orginal-price").style.display = "none";
                    } else {
                        // Handle error case if needed
                          console.log(data);
                        console.log("error with data in removeCoupon")
                    }
                })
                .catch(error => {
                    console.error('Error removing coupon:', error);
                });
        }

    </script>


    <script>

        // Use fetch to update the quantity in the database
        let pop = document.getElementById("popup");
        function popupClose() {
            pop.classList.remove("popupOpen");
            //window.location.reload()
        }

        function checkCoupon() {
            console.log("hyyy coupon");

            let coupon = document.getElementById("couponCode").value;
            let total = document.getElementById("total-price").innerText;
            console.log(total);

            fetch('/checkcoupon', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    couponId: coupon,
                    price: total
                }),
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(data => {
                    if (data.success) {

                          pop.classList.add("popupOpen")
                          
                        const apply = document.getElementById('applyCoupons');
                        const remove = document.getElementById('removeCoupons');
                       remove.classList.remove('removeCoupon');
                        apply.classList.add('removeCoupon');// Assuming this class name should be applied here
                        document.getElementById("orginal-price").style.display = "inline";
                        document.getElementById("total-price").innerHTML = `${data.cost}`;
                        document.getElementById("couponInform").innerHTML = `${data.inform}`;


                        document.getElementById("couponmsg").innerHTML = `${data.msg}`;


                        document.getElementById("orginal-price").innerHTML = `${data.totalAmount}`;
                    } else {
                        // Handle error case if needed
                        pop.classList.add("popupOpen");
                        console.log(data.msg);
                        document.getElementById("couponmsg").innerHTML = `${data.msg}`;
                        //document.getElementById("orginal-price").innerHTML=`${data.totalValue}`;
                        //document.getElementById("couponInform").innerHTML=`${data.already}`;
                    }
                })
                .catch(error => {
                    console.error('Error checking coupon:', error);
                });
        }

    </script>
    






    <script>

        $(document).ready(function () {
            console.log("entered razor")
            // Fetch the value after updating it dynamically
            let amount = document.getElementById("total-price").innerHTML;
            console.log(amount);

            $('.pay').click(function (e) {

                e.preventDefault();

                console.log('hiii')
                console.log(amount)



                fetch('/createOrder', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({
                        price: amount


                    }),
                })
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Network response was not ok');
                        }
                        return response.json();
                    })
                    .then(data => {
                        console.log(data)

                        var options = {
                            "key": data.key_id,
                            "amount": data.amount,
                            "currency": "INR",
                            "name": "Sole Mates",
                            //"image": "https://dummyimage.com/600x400/000/fff",
                            "order_id": data.order_id,
                            "handler": function (response) {
                                window.open("/cod", "_self")
                            },
                            "theme": {
                                "color": "#2300a3"
                            }
                        };
                        var razorpayObject = new Razorpay(options);
                        razorpayObject.on('payment.failed', function (response) {
                           window.open("/paymentfailure", "_self")
                            alert("Payment Failed");
                        });
                        razorpayObject.open();



                        // Update the quantity on the page after successful update

                        //document.getElementById(productId).value = newQuantity;
                        document.getElementById(`${productId}`).innerHTML = data.quantity;
                        document.getElementById(`total-${productId}`).innerHTML = data.totalPrice;
                        document.getElementById("totalAmount").innerHTML = data.totalAmount;
                        console.log(data)
                    })
                    .catch(error => {
                        console.error('Error updating quantity:', error);
                    });



                /*$.ajax({
                    url:"/createOrder",
                    type:"POST",
                    data:{userName:name,price:amount} ,
                    success:function(res){
                        if(res.success){
                            var options = {
                                "key": ""+res.key_id+"",
                                "amount": ""+res.amount+"",
                                "currency": "INR",
                                "name": "Sole Mates",
                                "image": "https://dummyimage.com/600x400/000/fff",
                                "order_id": ""+res.order_id+"",
                                "handler": function (response){
                                    alert("Payment Succeeded");
                                    // window.open("/","_self")
                                },
                                "theme": {
                                    "color": "#2300a3"
                                }
                            };
                            var razorpayObject = new Razorpay(options);
                            razorpayObject.on('payment.failed', function (response){
                                    alert("Payment Failed");
                            });
                            razorpayObject.open();
                        }
                        else{
                            alert(res.msg);
                        }
                    }
                }) */

            });
        });

    </script>

    <script src="./assets_user/js/vendor/modernizr-3.5.0.min.js"></script>
    <!-- Jquery, Popper, Bootstrap -->
    <script src="./assets_user/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="./assets_user/js/popper.min.js"></script>
    <script src="./assets_user/js/bootstrap.min.js"></script>
    <!-- Jquery Mobile Menu -->
    <script src="./assets_user/js/jquery.slicknav.min.js"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script src="./assets_user/js/owl.carousel.min.js"></script>
    <script src="./assets_user/js/slick.min.js"></script>

    <!-- One Page, Animated-HeadLin -->
    <script src="./assets_user/js/wow.min.js"></script>
    <script src="./assets_user/js/animated.headline.js"></script>

    <!-- Scroll up, nice-select, sticky -->
    <script src="./public/assets_user/js/jquery.scrollUp.min.js"></script>
    <script src="./public/assets_user/js/jquery.nice-select.min.js"></script>
    <script src="./public/assets_user/js/jquery.sticky.js"></script>
    <script src="./public/assets_user/js/jquery.magnific-popup.js"></script>

    <!-- contact js -->
    <script src="./public/assets_user/js/contact.js"></script>
    <script src="./public/assets_user/js/jquery.form.js"></script>
    <script src="./public/assets_user/js/jquery.validate.min.js"></script>
    <script src="./public/assets_user/js/mail-script.js"></script>
    <script src="./public/assets_user/js/jquery.ajaxchimp.min.js"></script>

    <!-- Jquery Plugins, main Jquery -->
    <script src="./public/assets_user/js/plugins.js"></script>
    <script src="./public/assets_user/js/main.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</body>

</html>